<p id="notice"><%= notice %></p>

<h1>Listing Cabinets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cabinet type</th>
      <th>Manufacturer</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cabinets.each do |cabinet| %>
      <tr>
        <td><%= cabinet.name %></td>
        <td><%= cabinet.cabinet_type %></td>
        <td><%= cabinet.manufacturer %></td>
        <td><%= cabinet.description %></td>
        <td><%= cabinet.picture %></td>
        <td><%= cabinet.price %></td>
        <td><%= link_to 'Show', cabinet %></td>
        <!--<td><%= link_to 'Edit', edit_cabinet_path(cabinet) %></td>
        <td><%= link_to 'Destroy', cabinet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>-->
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Cabinet', new_cabinet_path %>-->
