<p id="notice"><%= notice %></p>

<h1>Listing Graphics Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Graphics card type</th>
      <th>Manufacturer</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graphics_cards.each do |graphics_card| %>
      <tr>
        <td><%= graphics_card.name %></td>
        <td><%= graphics_card.graphics_card_type %></td>
        <td><%= graphics_card.manufacturer %></td>
        <td><%= graphics_card.description %></td>
        <td><%= graphics_card.picture %></td>
        <td><%= graphics_card.price %></td>
        <td><%= link_to 'Show', graphics_card %></td>
        <!--<td><%= link_to 'Edit', edit_graphics_card_path(graphics_card) %></td>
        <td><%= link_to 'Destroy', graphics_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Graphics card', new_graphics_card_path %>-->
